/* Colore di sfondo blu */
.bg-blue {
    background-color: #09263f
}

/* Collegamenti bianchi */
.navbar-dark .nav-link {
    color: white;
}

.navbar-dark .nav-link:hover {
    color: #d9d9d9; /* Colore al passaggio del mouse */
}

/* Bottone contatti */
.btn-contact {
    background-color: white;
    color: black;
    border: 2px solid white;
    transition: all 0.3s ease;
}

.btn-contact:hover {
    background-color: rgb(255, 51, 0); /* Arancio scuro */
    color: white;
    border-color: rgb(255, 51, 0);
}

/* Dropdown stile */
.dropdown-item img {
    margin-right: 10px;
    vertical-align: middle;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar{
   margin-top: -8px;
}

/* Hero Section */
.hero-section {
    height: 100vh; /* Altezza piena della finestra */
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.6), 
            rgba(0, 0, 0, 0.6)
        ),
        url('../img/head-1.png'); /* Sostituisci con il percorso della tua immagine */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

/* Testo leggibile */
.hero-section h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.hero-section p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.placeholder-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Spazio tra gli elementi */
    padding: 20px;
  }
  
  .placeholder-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; /* Larghezza del singolo elemento */
    text-align: center;
  }
  
  .placeholder-image {
    width: 100px; /* Dimensioni dell'immagine */
    height: 100px;
    border-radius: 50%; /* Rende l'immagine rotonda */
    object-fit: cover; /* Adatta l'immagine alla cornice */
    border: 2px solid #ccc; /* Cornice intorno all'immagine */
    margin-bottom: 10px; /* Spazio tra immagine e descrizione */
  }
  
  .placeholder-description {
    font-size: 14px;
    color: #555;
  }
  