/* Colore di sfondo blu */
.bg-blue {
    background-color: #09263f
}

/* Collegamenti bianchi */
.navbar-dark .nav-link {
    color: white;
}

.navbar-dark .nav-link:hover {
    color: #d9d9d9; /* Colore al passaggio del mouse */
}

/* Bottone contatti */
.btn-contact {
    background-color: white;
    color: black;
    border: 2px solid white;
    transition: all 0.3s ease;
}

.btn-contact:hover {
    background-color: rgb(255, 51, 0); /* Arancio scuro */
    color: white;
    border-color: rgb(255, 51, 0);
}

/* Dropdown stile */
.dropdown-item img {
    margin-right: 10px;
    vertical-align: middle;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar{
   margin-top: -8px;
}

/* Hero Section */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.hero-container {
    background-image: url('../img/head_4.jpg'); /* Sostituisci con il tuo URL */
    background-size: cover;
    background-position: center;
    height: 100vh; /* L'altezza occupa l'intero viewport */
    color: white;
    position: relative;
    height: 500px;
}

@media (max-width: 768px) {
    .custom-height {
        height: 400px; /* Altezza ridotta per dispositivi più piccoli */
    }
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.6); /* Sfondo scuro traslucido */
    padding: 20px;
    border-radius: 8px;
}

.hero-title {
    font-size: 3rem;
    margin: 0;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-top: 10px;
}


/* Testo leggibile */


.placeholder-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Spazio tra gli elementi */
    padding: 20px;
  }
  
  .placeholder-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; /* Larghezza del singolo elemento */
    text-align: center;
  }
  
  .placeholder-image {
    width: 100px; /* Dimensioni dell'immagine */
    height: 100px;
    border-radius: 50%; /* Rende l'immagine rotonda */
    object-fit: cover; /* Adatta l'immagine alla cornice */
    border: 2px solid #ccc; /* Cornice intorno all'immagine */
    margin-bottom: 10px; /* Spazio tra immagine e descrizione */
  }
  
  .placeholder-description {
    font-size: 14px;
    color: #555;
  }
  